.container {
    max-width: 1200px;
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form__div {
    margin-top: 5%;
}

.utilityItems {
    display: flex;
    flex-direction: column;
}
