.form__div {
    background: url(https://demo.w3layouts.com/demos_new/template_demo/19-12-2017/online_auto_booking_form-demo_Free/1440576869/web/images/banner.jpg)
        no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

.container {
    display: flex;
    max-width: 1300px;
    margin: auto;
    padding: 2%;
    background: rgba(0, 0, 0, 0.78);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 gray;
}

.title {
    text-align: center;
    font-size: 1.8rem;
}

.signUpText {
    margin-top: 2%;
    float: right;
}

.signUpLink {
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    flex: 1.5;
    padding: 5%;
    font-size: 4rem;
    font-weight: bold;
    color: #dddddd;
}

@media (max-width: 800px) {
    .form__div {
        padding: 5%;
    }

    .container {
        flex-direction: column;
    }

    .logo {
        padding: 5% 0;
        font-size: x-large;
    }
}
