.container {
    font-family: "Montserrat", sans-serif;
}

.container h3,
h5 {
    text-align: center;
    margin: 3% auto;
}

.blacklistedUser {
    display: flex;
    padding: 12px;
    margin: 0 6%;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
}

.blacklistedUser__block {
    display: flex;
    width: 30%;
    padding: 0 1%;
    flex-direction: column;
    justify-content: center;
}

.blacklistedUser__block span {
    font-weight: bold;
}
