.root h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
}

.container {
    width: 80%;
    height: max-content;
    margin: 0% auto;
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.image__div {
    width: 60%;
    margin: 2%;
}

.content__div {
    width: 40%;
    height: max-content;
    margin: 2%;
    padding: 3%;
    background: rgba(237, 240, 248);
    box-shadow: 0 4px 8px 0 gray;
}

.price__div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    color: #1c2a48;
    letter-spacing: 1.5px;
    padding: 15px;
}

.price__div span {
    font-size: smaller;
}

.price__div h4 {
    font-size: xx-large;
    display: inline-block;
    margin: 0px;
}

.bold__label {
    font-weight: 600;
}

.book__btn {
    width: 100%;
    box-sizing: border-box;
    margin: 0 !important;
}

.discount {
    color: red;
    font-size: 0.8rem;
}

@media (max-width: 900px) {
    .container {
        flex-flow: wrap column;
    }

    .image__div {
        width: 100%;
    }

    .content__div {
        width: 100%;
    }
}
