.container {
    width: 22rem;
    height: max-content;
    padding: 1%;
    border: 1px solid #cccccc;
    margin-bottom: 12px;
}

.container h3 {
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}

.image__div {
    margin-bottom: 3%;
    width: 100%;
}

.img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.price__span {
    color: red;
    text-align: center;
    display: block;
    margin-bottom: 3%;
}

.footer__div {
    display: flex;
    justify-content: space-around;
}
