.container {
    margin: 0 2% 2%;
    width: 22rem;
    height: max-content;
    padding: 1%;
    box-shadow: 0 4px 8px 0 gray;
    font-family: "Montserrat", sans-serif;
}

.container h3 {
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}

.image__div {
    margin-bottom: 3%;
    width: 100%;
}

.price__span {
    color: red;
    text-align: center;
    display: block;
    margin-bottom: 3%;
}

.footer__div {
    display: flex;
    justify-content: space-around;
}
